//
   Created by Echo on 2015/12/17.

extends ../layout
block append head
    script(src="/lib/echarts3.0/echarts3.0-all.js")

block content
    div
        a.btn.primary(href='/render/mobIndex') 点击我吧



