//
   Created by Echo on 2015/12/9.

extends layout

block append head
    link(rel='stylesheet', href='/css/page_render.css')
    script(src='/lib/echarts/build/echarts-all.js')
    script(src='/js/page_render.js')


block content
    div.main_wrap
        div#main

        div.side
            div#side_1

            div#side_2



    <input type="button" id="subck1" value="点击sub1"/>
    <input type="button" id="subck2" value="点击sub2"/>