doctype html
html
    block head
        title= title
        link(rel='stylesheet', href='/css/style.css')
        link(rel='stylesheet', href='/css/base.css')
        script(src='/lib/jquery/dist/jquery.min.js')
    body
        block content
