doctype html
html
  head
    title= title
    script(src='../node_modules/jquery/dist/jquery.min.js')
    script(src='/js/page_index.js')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/base.css')
  body
    block content
