//
   Created by Echo on 2015/12/10.

block append head
    script(src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8')
    script(src='//g.alicdn.com/msui/sm/0.5.6/js/sm.min.js' charset='utf-8')
    link(rel='styleSheet', href='//g.alicdn.com/msui/sm/0.5.6/css/sm.min.css')